/* ------------------------------------------ HERO-IMAGE ------------------------------------------ */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),
            rgba(1, 1, 1, 0.7)),
        url(../assets/img/garden4.jpg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hero-text {
    display: flex;
    justify-content: space-between;
    row-gap: 10px;
    flex-direction: column;
    align-items: center;
}

.hero-text h1 {
    color: #fff;
    font-size: 40px;
    align-items: center;

}

.hero-text p {
    color: #fff;
    font-size: 30px;
}

.button-explore {
    height: 50px;
    width: 150px;
    border: none;
    background-color: #000;
    transition: 2s;
    border-radius: 20px;
}

.button-explore a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}

.button-explore a:hover {
    text-decoration: none;
    color: rgb(255, 204, 0);
}

.button-explore:hover {
    background-color: rgb(0, 0, 0);
}

.dropdown {
    display: block;
}

/* ------------------------------------------ TOGGLE-BUTTON ------------------------------------------ */
.toggle-button {
    position: absolute;
    top: 3%;
    right: 20px;
    flex-direction: column;
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 20px;
}

.toggle-button .bar {
    height: 2px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
}

@media (max-width:980px) {
    .toggle-button {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navigation {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links ul li {
        text-align: center;
    }
    .navbar-links li a {
        padding: 2px;
    }
    .navbar-links.active {
        display: flex;
    }
    .navigation ul :hover .dropdown ul {
        position: relative;
        display: block;
        background: transparent;
    }
    .dropdown ul li a {
        color: rgb(255, 204, 0);
    }
}

/* ------------------------------------------ HOME-CONTAINER------------------------------------------ */

.intro {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    /* margin:30px; */
}

.intro h5 {
    text-align: center;
    font-style: oblique;
    text-indent: 50px;
}

.intro p {
    text-align: justify;
    text-indent: 50px;
}

.horizontal-line {
    border: 1px solid #000;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* ------------------------------------------ WHY CHOOSE US------------------------------------------ */

.container {
    margin: 0px;
}

h2 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-style: oblique;
    margin-bottom: 0;
    padding-bottom: 0;
}

.reasons {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.image-reason img {
    height: 400px;
    width: 400px;
}

.reasons-section ol {
    margin: 9px;
    height: 400px;
    padding: 30px;
    border-radius: 30%;
}

.list-o {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.list-o li {
    text-align: justify;
    font-style: italic;
    font-size: 20px;
}

@media (max-width:900px) {
    .reasons {
        min-height: 700px;
        flex-direction: column;
        justify-content: space-between;
    }
    .image-reason img {
        max-height: 200px;
        max-width: 300px;
    }
}

/* ------------------------------------------ WHY CHOOSE US------------------------------------------ */

.services {
    margin: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.service-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 300px;
    width: 300px;
    background-color: #e9e9f0;
}

.service-cards img {
    width: 50px;
    height: 50px;
}

.vl {
    border-left: 2px solid rgb(0, 0, 0);
    height: 300px;
}

.service-cards p {
    text-align: center;
    padding: 10px;
}

.btn-warning button {
    border-radius: 20px;
}

@media (max-width:900px) {
    .services {
        flex-direction: column;
    }

    .vl {
        display: none;
    }
}

/* ------------------------------------------ IMAGES------------------------------------------ */

.container__images {
    margin-top: 30px;
}

.container__images .home-images {
    background-color: #e9e9f0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.container__images .home-images .home-image {
    height: 250px;
    width: 350px;
    border: 10px solid #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
}

.container__images .home-images .home-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: 0.2s linear;
}

.container__images .home-images .home-image:hover img {
    transform: scale(1.1);
}

.container__images .pop-up {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    z-index: 1;
    display: none;
}

.container__images .pop-up span {
    position: absolute;
    top: 0px;
    right: 50px;
    font-size: 60px;
    font-weight: bolder;
    color: #000000;
    cursor: pointer;
    z-index: 1;
}

.container__images .pop-up img {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 40px;
}

@media(max-width:760px) {
    .container__images .pop-up img {
        width: 50%;
        height: 50%;
        top: 25%;
        left: 25%;
    }
}

/* ------------------------------------------ Parteners ------------------------------------------ */

.parteners {
    width: 80%;
    margin: auto;
}

.companies img {
    height: 70px;
    width: 110px;
}

#image-forest2 {
    width: 300px;
    height: 90px;
}

.companies {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

/* ------------------------------------------ TESTIMONIAL ------------------------------------------ */

.container-testimonials {
    width: 100%;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.testimonial {
    width: 80%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(255, 255, 255);
    background: linear-gradient(to bottom, #ffffff, rgb(229, 183, 59), #ffffff);
}

.testimonial-pic .user-pic {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 20px;
}

.testimonial-text {
    font-size: 18px;
    width: 100%;
    height: inherit;
    margin-bottom: 10px;
    position: relative;
}

.user-text {
    width: 80%;
    font-style: italic;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    color: #000;
}

.user-text span {
    display: block;
    font-size: 18px;
    margin-top: 40px;
    font-weight: 500;
    text-transform: uppercase;
}

.testimonial-pic {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-text.active-text {
    display: block;
    animation: moveup 0.5s linear forwards;
}

.user-pic.active-pic {
    width: 73px;
    border: 3px solid rgb(229, 183, 59);
    padding: 4px;
}

@keyframes moveup {
    0% {
        margin-top: 25px;
    }

    100% {
        margin-top: 0;
    }
}